# Default ignored files
/../../Testove_ICAP /.idea/shelf/
/../../Testove_ICAP /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Testove_ICAP /.idea/httpRequests/
# Datasource local storage ignored files
/../../Testove_ICAP /.idea/dataSources/
/../../Testove_ICAP /.idea/dataSources.local.xml
